{% extends "base.html" %}

{% block title %} Manage {{ bot_name }} {% endblock %}

{% block header_left %}
    <span id="twitch_name">
        {{ session.twitch_user.display_name }}
    </span>
    <img src="{{ profile_image }}" alt="{{ session.twitch_user.display_name }}" class="twitch_avatar">
{% endblock %}

{% block header_right %}
    <header>
        <div id="home-head">
            <div>
                <a class="top" href="{{ url_for('index') }}"> Home </a>
            </div>
            <div id="Portfolio">
                <a class="top" href="{{ url_for('portfolio') }}"> Portfolio </a>
            </div>
            <div id="Bot-Management">
                <a class="top" href="{{ url_for('bot_page') }}"> Bot Management </a>
            </div>
            <div id="Patreon">
                <a class="top" href="https://www.patreon.com/cw/Spidercave">Patreon</a>
            </div>
            <div id="back">
                {% if session.single_channel == False %}
                    <a class="top" href="{{ url_for('twitch.dashboard', bot_name=bot_name)}}">Back</a>
                {% elif session.single_channel == True and session.single_bot == False %}
                    <a class="top" href="{{ url_for('twitch.bot_select')}}">Back</a>
                {% else %}
                    <a class="top" href="{{ url_for('twitch.logout')}}">Logout</a>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <h1>
        Manage 
        <span class="bot_name">
            {{ bot_name }}
        </span>
        for 
        <span class="bot_name">
            {{ channel_login }}
        </span>
    </h1>

    <h2>Edit commands:</h2>
    <section class="role-mapping">
        <a href="{{ url_for('twitch.add_command', channel_login=channel_login, bot_name=bot_name)}}" id="add_role">Add command</a>
        {% if command_details %}
            <table>
                <thead>
                    <tr>
                        <th>Active</th>
                        <th>Command</th>
                        <th>Reply</th>
                        <th>User Level</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for command in command_details %}
                        {% set id = command[0] %}
                        {% set name = command[1] %}
                        {% set reply = command[2] %}
                        {% set user_level = command[3] %}
                        {% set active = command[4] %}
                        <tr>
                            <td>
                                <label class="switch">
                                    <input  type="checkbox"
                                            class="toggle-active"
                                            data-command-id="{{ id }}"
                                            data-bot-name="{{ bot_name }}"
                                            {% if active %}checked{% endif %}>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>{{ name }}</td>
                            <td>{{ reply }}</td>
                            <td>{{ user_level }}</td>
                            <td> <a href="{{ url_for('twitch.edit_command', channel_login=channel_login, command_id=id, bot_name=bot_name)}}" id="edit-command">Edit command</a> </td>
                            <td>
                                <button class="delete-command"
                                        data-command-id="{{ id }}"
                                        data-command-name="{{ name }}"
                                        data-bot-name="{{ bot_name }}"
                                        type="button">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
{% endblock %}