{% extends "base.html" %}

{% block title %}Add a command to spider-bot{% endblock %}

{% block header_left %}
{{ session.twitch_user.display_name }}
    <img src="{{ profile_image }}" alt="{{ session.twitch_user.display_name }}" class="twitch_avatar">
{% endblock %}

{% block header_right %}
    <header>
        <a class="back-button" href="{{ url_for('twitch_channel_dashboard', channel_login=channel_login, bot_name=bot_name)}}">Back</a>
    </header>
{% endblock %}

{% block content %}
    <h1 class="guild-name">{{ bot_name }}</h1>
    <h2>
        Add a command to 
        <span class="bot_name">
            {{ bot_name }}
        </span>
        for
        <span class="bot_name">
            {{ channel_login }}
        </span>
    </h2>
    <form method="POST" action="{{ url_for('add_command', channel_login=channel_login, bot_name=bot_name) }}">
        
        <div id="form-div">
            <div id="command-name-div">
                <label id="command-name-text">
                    Command Name: ('!' is added automatically)
                </label>
                <label>
                    <input id="command-name" type="text" name="name" required>
                </label>
            </div>
            
            <div id="command-reply-div">
                <label id="command-reply-text">
                    Reply:
                </label>
                <label>
                    <textarea id="command-reply" name="reply" rows="4" maxlength="500" required></textarea>
                </label>
                <span id="char-length">
                    0 / 500        
                </span>
            

                <script>
                    const replyField = document.getElementById('command-reply');
                    const replyCharLength = document.getElementById('char-length');
                    replyField.addEventListener('input', () => {
                        replyCharLength.textContent = `${replyField.value.length} / 500`;
                    })
                </script>
            </div>

            <div>
                <label id="user-level-text">
                    User level:
                </label>
                <label>
                    <select id="user-level-select" name="user_lvl" required>
                        <option value="">--- pick a user level ---</option>
                        <option value="Everyone">Everyone</option>
                        <option value="Subscriber">Subscriber</option>
                        <option value="VIP">VIP</option>
                        <option value="Moderator">Moderator</option>
                        <option value="Broadcaster">Streamer</option>
                    </select>
                </label>
            </div>
            <button id="submit-button" type="submit">Add Command</button>
        </div>
    </form>
{% endblock %}