{% extends "base.html" %}

{% block title %}Choose a bot for {{ guild.name }}{% endblock %}

{% block header_right %}
    <header>
        <div id="home-head">
            <div id="Portfolio">
                <a class="top" href="{{ url_for('portfolio') }}"> Portfolio </a>
            </div>
            <div id="Bot-Management">
                <a class="top" href="{{ url_for('bot_page') }}"> Bot Management </a>
            </div>
            <div id="Patreon">
                <a class="top" href="https://www.patreon.com/cw/Spidercave">Patreon</a>
            </div>
            <div id="back">
                <a class="top" href="{{ url_for('index') }}">Back</a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <h1 class="guild-name">{{ guild.name }}</h1>
    <p>Which bot do you want to manage?</p>
    <div class="bot-list">
        {% set BOT_INFO = get_bot_info() %}
        {% for bot in bots %}
            <div class="bot-clip">
                {% if BOT_INFO[bot].avatar %}
                    <img src="https://cdn.discordapp.com/avatars/{{ BOT_INFO[bot].id }}/{{ BOT_INFO[bot].avatar }}.png?size=128"
                        alt="{{ bot }}'s avatar"
                        class="bot-avatar">
                {% else %}
                    <div class="bot-avatar-fallback">{{ bot[0] }}</div>
                {% endif %}
                    <a href="{{ url_for('discord.manage_guild_bot', guild_id=guild.id, bot_name=bot)}}"
                        class="btn">{{ bot }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}