{% extends "base.html" %}

{% block title %}Edit the {{ command_name }} command {% endblock %}

{% block header_left %}
    {{ session.twitch_user.display_name }}
    <img src="{{ profile_image }}" alt="{{ session.twitch_user.display_name }}" class="twitch_avatar">
{% endblock %}

{% block header_right %}
    <header>
        <div id="home-head">
            <div>
                <a class="top" href="{{ url_for('index') }}"> Home </a>
            </div>
            <div id="Portfolio">
                <a class="top" href="{{ url_for('portfolio') }}"> Portfolio </a>
            </div>
            <div id="Bot-Management">
                <a class="top" href="{{ url_for('bot_page') }}"> Bot Management </a>
            </div>
            <div id="Patreon">
                <a class="top" href="https://www.patreon.com/cw/Spidercave">Patreon</a>
            </div>
            <div id="back">
                <a class="top" href="{{ url_for('twitch.channel_dashboard', bot_name=bot_name, channel_login=channel_login)}}">Back</a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <h1 class="guild-name">{{ bot_name }}</h1>
    <h2>Edit command: {{ command_details[0].replace("!", "") }}</h2>
    <form method="POST" action="{{ url_for('twitch.edit_command', command_id=command_id, channel_login=channel_login, bot_name=bot_name) }}">
        {% set name = command_details[0].replace("!", "") %}
        {% set reply = command_details[1] %}
        {% set user_level = command_details[2] %}
        {% set active = command_details[4] %}
        <div id="form-div">
            <div class="switch-group" id="switch-check">
                <span>Command Active:</span>
                <label class="switch">
                    <input type="checkbox" name="active" {% if active %}checked{% endif %}>
                    <span class="slider round"></span>
                </label>
            </div>

            <div id="command-name-div">
                <label id="command-name-text">
                    Command Name: ('!' is added automatically)
                </label>
                <label>
                    <input id="command-name" type="text" name="name" value="{{ name }}" required>
                </label>
            </div>

            <div id="command-reply-div">
                <label id="command-reply-text">
                    Reply:
                </label>
                <label>
                    <textarea id="command-reply" type="text" name="reply" required>{{ reply }}</textarea>
                </label>
            </div>

            <div>
                <label id="user-level-text">
                    User level:
                </label>
                <label>
                    <select id="user-level-select" name="user_lvl" required>
                        <option value="{{ user_level }}">{{ user_level }}</option>
                        {% for level in user_lvls %}
                            {% if level != user_level %}
                                <option value="{{ level }}">{{ level }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            </div>

            <button id="submit-button" type="submit">Save</button>
        </div>
    </form>
{% endblock %}