{% extends "base.html" %}

{% block title %}Manage {{ guild.name }}{% endblock %}

{% block header_right %}
    <header>
        <div id="home-head">
            <div id="Portfolio">
                <a class="top" href="{{ url_for('portfolio') }}"> Portfolio </a>
            </div>
            <div id="Bot-Management">
                <a class="top" href="{{ url_for('bot_page') }}"> Bot Management </a>
            </div>
            <div id="Patreon">
                <a class="top" href="https://www.patreon.com/cw/Spidercave">Patreon</a>
            </div>
            <div id="back">
                <a class="top" href="{{ url_for('index') }}">Back</a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <h1 class="guild-name">{{ guild.name }}</h1>

    <div>
        {% set BOT_INFO = get_bot_info() %}
        {% if BOT_INFO[bot_name].avatar %}
            <img src="https://cdn.discordapp.com/avatars/{{ BOT_INFO[bot_name].id }}/{{ BOT_INFO[bot_name].avatar }}.png?size=128"
                alt="{{ bot_name }}'s avatar"
                class="bot-avatar">
        {% else %}
            <div class="bot-avatar-fallback">{{ bot_name }}</div>
        {% endif %}
        <p class="bot-subtitle">Managing {{ bot_name }}</p>
    </div>

    <nav class="tabs">
        <a href="{{ url_for('discord.manage_guild_bot', guild_id=guild.id, tab='general', bot_name=bot_name)}}"
            class="tab {% if active_tab == 'general' %}active{% endif %}">General</a>
        <a href="{{ url_for('discord.manage_guild_bot', guild_id=guild.id, tab='commands', bot_name=bot_name)}}"
            class="tab {% if active_tab == 'commands' %}active{% endif %}">Commands</a>
    </nav>

    <div class="tab-content">
        {% if active_tab == 'general' %}
            <p>General settings</p>
            
            <ul>
                <li><a href="{{ url_for('discord.manage_react_roles', guild_id=guild.id, bot_name=bot_name) }}">React Role Settings</a></li>
            </ul>
        {% elif active_tab == 'commands' %}
            <p>Command settings</p>
        {% endif %}
    </div>

{% endblock %}